.Rhistory
*.duckdb
*.csv

idikaexplorer-collaborator/
test-data/

!renv.lock
!renv/activate.R
!renv/settings.json
!.Rprofile

renv/library/
renv/local/
renv/cellar/
renv/staging/
renv/python/
renv/sandbox/

inst/extdata/*.duckdb
inst/extdata/*.db
data/*.duckdb
data/*.db
idika.duckdb


inst/extdata/*.duckdb
inst/extdata/*.db
data/*.duckdb
data/*.db
idika.duckdb
